main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 50%;
}
.log {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap:2px;
}
.logs{
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.record {
  width: 50%;
  background-color: yellow;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.authentication .submit {
  width: 100%;
}

