.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: rgb(96, 150, 134);
  border: 1px solid black;
}

.white{
  background-color: #FFFFFF;
}

.black{
  background-color: #000000;
}

.piece {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 100;
}