body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

main {
  display: flex;
  flex-direction: column;
  background-color: pink;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.board {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: red;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav {
  display: block;
  width: 100%;
  background-color: orange;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: teal;
  padding: 1rem;
  min-width: 200px;
  max-width: 200px;
}
.log {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap:2px;
}
.log #d{display: flex; background-color: teal;}
.record {
  width: 60px;
}
.authentication {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.authentication .submit {
  width: 100%;
}


.authentication input, submit {
  display: block;
}
